// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";


// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;


@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/




// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:    #ff004e,
  secondary: #4b0004,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #222,
  facebook:  	#3b5998,
  google:     #ffffff,
  twitter:    #00aced,
  github:     #6cc644,
  bg:         #000000,
  tb:         #4b0004,

);

$app-background: linear-gradient(to bottom, color($colors, bg) 0%, color($colors, tb) 100%);
$background-color: transparent;
$toolbar-background: #4b0004;
$list-background-color: transparent;

//alert
$alert-md-background-color:#4b0004;
$alert-ios-background-color:#4b0004;
$alert-wp-background-color:#4b0004;
$alert-ios-message-text-color: #fff;
$alert-md-message-text-color: #fff;
$alert-wp-message-text-color: #fff;
$alert-ios-sub-title-text-color:#fff;
$alert-md-sub-title-text-color:#fff;
$alert-wp-sub-title-text-color:#fff;
$alert-ios-input-text-color:#fff;
$alert-md-input-text-color:#fff;
$alert-wp-input-text-color:#fff;
//Loader
$loading-ios-background:#4b0004;
$loading-md-background:#4b0004;
$loading-wp-background:#4b0004;
$loading-ios-spinner-color:#fff;
$loading-md-spinner-color:#fff;
$loading-wp-spinner-color:#fff;
$loading-ios-text-color:#fff;
$loading-md-text-color:#fff;
$loading-wp-text-color:#fff;
//cards
$card-ios-background-color: #1c0003;
$card-md-background-color: #1c0003;
$card-wp-background-color: #1c0003;
$card-ios-border-radius:10px;
$card-md-border-radius:10px;
$card-wp-border-radius:10px;
$card-ios-header-color:#f00;
$card-md-header-color:#f00;
$card-wp-header-color:#f00;
$card-ios-title-text-color:#fff;
$card-md-title-text-color:#fff;
$card-wp-title-text-color:#fff;


//custom colors



// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.dark";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";
